<div id="action-container">				
   <section id="action">
      <%- partial('widget-create') %>
   </section>
</div>
<div id="content-container">
   <section id="content">
      <div class="col">
         <%- partial('widget-explain') %>
      </div>
      <div class="col">
         <%- partial('widget-privacy') %>
         <%- partial('widget-help') %>
      </div>
      <div class="clear"></div>
   </section>
</div>