<article>
   <header>
      <h2><%= __('How you can help') %></h2>
   </header>
   <ul>
      <li><%= __('Use triggy to apply trigger warnings') %></li>
      <li><%= __('Educate and sensibilize others about triggers') %></li>
      <li><%= __('Help us translate triggy into ALL the languages') %></li>
   </ul>
</article>
