<form method="post" action="/create" id="create">
	<label for="url">
		<span><%= __('The URL you want to shorten') %></span>
	</label>
	<input type="text" value="" name="url" id="url" placeholder="<%= __('Type or paste your URL here...') %>" />
	<input type="submit" id="submit" value="<%= __('Triggify') %>" />
</form>
