<article>
	<header>
		<h2><%= __('What is triggy?') %></h2>
	</header>
	<p>
		<%= __('There are lots of things which may trigger traumatic memories. To help trauma survivors to avoid such triggers, you should always place trigger warnings in front of possibly troubling content. triggy helps you with that: You get a short link and everyone who follows it sees a trigger warning before reaching the links destination.') %>
	</p>
</article>
